<main class = "content">

  <h1> Electron Timer </h1>

  <div class="progress-wrapper" *ngIf="maxVal">
    <div class="text" *ngIf="!isFinished">
      {{maxVal - currentVal | number: '1.1-1'}}
    </div>

    <div class="text" *ngIf="isFinished">
      ding!
      <audio src="https://www.youtube.com/watch?v=dQw4w9WgXcQ" autoplay></audio>
    </div>

    <round-progress
      [current] = "currentVal"
      [max]="maxVal"
      [radius]="100"
      [stroke]="25">
    </round-progress>

  </div>

  <div class = "controls-wraper">
    <div>
      <label>Seconds</label>
      <input class="input" placeholder="seconds" type="text"
      [(ngModel)]="max"
      (keydown)="reset()">
    </div>

    <button class="button is-info" *ngIf="currentVal <=0" (click)="start()">Start</button>
    <button class="button is-danger" *ngIf="!isFinished" (click)="finish()">Finish</button>
  </div>
</main>